---
layout: base
title: Matthew Owen
---

<article class='index'>
{% for post in site.posts %}
    <a href="{{ post.url }}">
        <section class="post">
            <h2>{{ post.title }}</h2>
          	<span>{{ post.date | date_to_string }}</span>
            <p class="summary">
                {% if post.summary %}
                    {{ post.summary }}
                {% else %}
                    {{ post.content | strip_html | truncatewords: 30 }}
                {% endif %}
            </p>
        </section>
    </a>
{% endfor %}
</article>