// RESET
html{color:#000;background:#FFF}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}ol,ul{list-style:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}q:before,q:after{content:''}abbr,acronym{border:0;font-variant:normal}sup{vertical-align:text-top}sub{vertical-align:text-bottom}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit}input,textarea,select{*font-size:100%}legend{color:#000}

// variables

	// dimensions
	@gutter: 5px;
	@column: 30px;
	@columns: 24;
	@chunk: @column + (2 * @gutter);
	@max-width: @chunk * @columns;
	@article: @chunk * (@columns / 3 * 2) - (@gutter * 4);
	@aside: @chunk * (@columns / 3) - (@gutter * 4);

	.sizer {
		width: @max-width;
		padding: 0 @gutter;
		margin: auto;
	}

	.transition {
		transition: color 0.3s;
		-webkit-transition: color 0.3s;
		-o-transition: color 0.3s;

		&:hover {
			color: @hover;
			transition: color 0.3s;
			-webkit-transition: color 0.3s;
			-o-transition: color 0.3s;
		}
	}

	// colours
	@body: #EFDEC2;
	@livery: #A8651E;
	@border: #D7AF72;
	@text: black;
	@hover: #CEAC41;
	@livery-text: #DAC27C;

// structure

html {
	background-color: @body;
}

body {
	color: @text;
	font-family: 'Gill Sans', 'Gill Sans MT', sans-serif;
}

header {
	background-color: @livery;
	color: @livery-text;
	height: 4em;
	display: block;

	div {
		.sizer
	}

	h1 {
		color: @livery-text;
		padding: 0 (@gutter * 2);
	}

	a {
		float: left;
		color: @livery-text;
		.transition
	}
}

nav {
	background-color: @livery;
	color: @livery-text;
	float: right;
	height: 4em;

	li {
		font-size: 1.2em;
		float: left;
		padding: 1.2em (@gutter * 2);

		&:last-child {
			border: none;
		}
	}

	.bg {
		background-repeat: no-repeat;
		background-position: center left;
		padding-left: 40px;
	}

	li#rss {
		background-image: url(/static/img/rss.png);
		.bg
	}

	li#twitter {
		background-image: url(/static/img/twitter.png);
		.bg
	}

	li#github {
		background-image: url(/static/img/github.png);
		.bg
	}
}

section#content {
	display: block;
	.sizer
}

article {
	width: @article;
	float: left;
	padding: @gutter * 2;

	#crumb {
		font-size: 0.8em;
	}
}

#index {
	.post {
		border-bottom: 1px solid #A8651E;
		margin-bottom: 2em;

		.comment-count {
			margin-bottom: 0.5em;
			display: block;
			margin-top: -0.5em;
		}
	}
}

aside {
	width: @aside;
	float: right;
	padding: (@gutter * 2) - 2px;
	border-left: solid 2px @border;
	color: @livery;
	display: block;

	section {
		margin: 1em;

		a {
			margin: 1em;

			h4 {
				text-decoration: underline;
			}

			p {
				font-family: 'Gill Sans', 'Gill Sans MT', sans-serif;
			}
		}
	}
}

footer {
	clear: both;
	background-color: @livery;
	color: @livery-text;
	display: block;

	div {
		.sizer
	}

	a {
		color: @livery-text;
	}

	section#about-me {
		width: @aside - (@gutter * 4);
		float: right;
		padding: @gutter * 2;
		margin: 0 (@gutter * 2);

		p {
			margin: 0.2em 0;
		}
	}

	section#posts {
		width: @article;
		float: left;
		padding: @gutter * 2;

		li {
			font-family: 'Cantarell', sans-serif;

			a {
				text-decoration: underline;
			}

			span {
				font-style: normal;
				padding-right: @gutter * 2;
			}
		}
	}
}

div.clear {
	clear: both;
}

// headings

h1 {
	font-size: 3em;
	font-family: 'Cantarell', sans-serif;
}

h2 {
	font-size: 2em;
	font-family: 'Cantarell', sans-serif;
}

h3 {
	font-size: 1.5em;
	font-family: 'Cantarell', sans-serif;
}

h4 {
	font-size: 1.2em;
	font-family: 'Cantarell', sans-serif;
}

h5 {
	font-size: 1em;
	font-family: 'Cantarell', sans-serif;
}

// text and lists 

a {
	color: @livery;
	text-decoration: none;
	font-family: 'Cantarell', sans-serif;
	.transition
}

em {
	font-style: italic;
}

strong {
	font-weight: bold;
}

article {

	p {
		margin: 1em 0;
	}

	ul {
		margin: 1em 0;

		li {
			list-style: inside square;
		}
	}

	ol {
		margin: 1em 0;

		li {
			list-style: inside lower-roman;
		}
	}
}