@import url(/static/small.css) screen and (max-width:480px);
@import url(/static/mid.css) screen and (max-width:800px) and (min-width:481px);
@import url(/static/full.css) screen and (max-width:1024px) and (min-width:801px);
@import url(/static/huge.css) screen and (min-width:1200px);
html{color:#000;background:#ffffff;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}
ol,ul{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
q:before,q:after{content:'';}
abbr,acronym{border:0;font-variant:normal;}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}
input,textarea,select{*font-size:100%;}
legend{color:#000000;}
.transition{transition:color 0.3s;-webkit-transition:color 0.3s;-o-transition:color 0.3s;}.transition:hover{color:#ceac41;transition:color 0.3s;-webkit-transition:color 0.3s;-o-transition:color 0.3s;}
html{background-color:#efdec2;}
body{color:#000000;font-family:'Gill Sans','Gill Sans MT','Gill Sans W01 Medium',sans-serif;}
header{background-color:#a8651e;color:#dac27c;display:block;}header h1{color:#dac27c;}
header a{color:#dac27c;transition:color 0.3s;-webkit-transition:color 0.3s;-o-transition:color 0.3s;}header a:hover{color:#ceac41;transition:color 0.3s;-webkit-transition:color 0.3s;-o-transition:color 0.3s;}
nav .bg{background-repeat:no-repeat;background-position:center left;}
nav li#rss{background-image:url(/static/img/rss.png);background-repeat:no-repeat;background-position:center left;}
nav li#twitter{background-image:url(/static/img/twitter.png);background-repeat:no-repeat;background-position:center left;}
nav li#github{background-image:url(/static/img/github.png);background-repeat:no-repeat;background-position:center left;}
section#content{display:block;}
article{padding:10px;}article #crumb{font-size:0.8em;}
#index .post{border-bottom:1px solid #A8651E;margin-bottom:2em;}#index .post .comment-count{margin-bottom:0.5em;display:block;margin-top:-0.5em;}
aside section{margin:10px;}aside section a{margin:1em;}aside section a h4{text-decoration:underline;}
aside section a p{font-family:'Gill Sans','Gill Sans MT',sans-serif;}
footer{background-color:#a8651e;color:#dac27c;display:block;}footer a{color:#dac27c;}
footer section#about-me{padding:10px;}footer section#about-me p{margin:0.2em 0;}
footer section#posts{padding:10px;}footer section#posts li{font-family:Futura-Medium,Futura W01 Medium,Futura,Arial,Sans-Serif;}footer section#posts li a{text-decoration:underline;}
footer section#posts li span{font-style:normal;padding-right:10px;}
div.clear{clear:both;}
h1{font-size:3em;font-family:Futura-Medium,Futura W01 Medium,Futura,Arial,Sans-Serif;}
h2{font-size:2em;font-family:Futura-Medium,Futura W01 Medium,Futura,Arial,Sans-Serif;}
h3{font-size:1.5em;font-family:Futura-Medium,Futura W01 Medium,Futura,Arial,Sans-Serif;}
h4{font-size:1.2em;font-family:Futura-Medium,Futura W01 Medium,Futura,Arial,Sans-Serif;}
h5{font-size:1em;font-family:Futura-Medium,Futura W01 Medium,Futura,Arial,Sans-Serif;}
a{color:#a8651e;text-decoration:none;transition:color 0.3s;-webkit-transition:color 0.3s;-o-transition:color 0.3s;}a:hover{color:#ceac41;transition:color 0.3s;-webkit-transition:color 0.3s;-o-transition:color 0.3s;}
em{font-style:italic;}
strong{font-weight:bold;}
article p{margin:1em 0;}
article ul{margin:1em 0;}article ul li{list-style:inside square;}
article ol{margin:1em 0;}article ol li{list-style:inside lower-roman;}
.cf:before,.cf:after{content:"";display:table;}
.cf:after{clear:both;}
.cf{*zoom:1;}
