// RESET
html{color:#000;background:#FFF}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}ol,ul{list-style:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}q:before,q:after{content:''}abbr,acronym{border:0;font-variant:normal}sup{vertical-align:text-top}sub{vertical-align:text-bottom}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit}input,textarea,select{*font-size:100%}legend{color:#000}

// variables

	// dimensions
	@gutter: 5px;
	@column: 30px;
	@columns: 24;
	@chunk: @column + (2 * @gutter);
	@max-width: @chunk * @columns;
	@article: @chunk * (@columns / 3 * 2) - (@gutter * 4);
	@aside: @chunk * (@columns / 3) - (@gutter * 4);

	.sizer {
		width: @max-width;
		padding: 0 @gutter;
		margin: auto;
	}

	// colours
	@body: #EFDEC2;
	@livery: #A8651E;
	@border: #D7AF72;
	@text: black;
	@link: #CEAC41;
	@livery-text: #DAC27C;


// structure

html {
	background-color: @body;
}

body {
	color: @text;
	font-family: "Gill Sans MT", "Gill Sans", sans-serif;
}

header {
	background-color: @livery;
	color: @livery-text;

	section {
		.sizer
	}

	a {
		float: left;
	}
}

nav {
	background-color: @livery;
	color: @livery-text;
	width: @aside;
	float: right;
	padding: @gutter * 2;

	li {
		font-size: 1.5em;
	}
}

section#content {
	.sizer
}

article {
	width: @article;
	float: left;
	padding: @gutter * 2;
}

aside {
	width: @aside;
	float: right;
	padding: (@gutter * 2) - 2px;
	border-left: solid 2px @border;
}

footer {
	clear: both;
	background-color: @livery;
	color: @livery-text;

	section {
		.sizer
	}
}

div.clear {
	clear: both;
}

// headings

h1 {
	font-size: 3em;
}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 1.5em;
}

h4 {
	font-size: 1em;
}

h5 {
	font-size: 1em;
}

// text and lists 

article {

	p {
		margin: 1em 0;
	}

	ul {
		margin: 1em 0;

		li {
			list-style: inside square;
		}
	}

	ol {
		margin: 1em 0;

		li {
			list-style: inside lower-roman;
		}
	}
}