<!doctype html>
<head>
	<meta charset="utf-8">
	<title>{{ page.title }} | Matthew Owen</title>
	<meta name="author" content="Matthew Owen">
    <link href='http://fonts.googleapis.com/css?family=Lusitana' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:700' rel='stylesheet' type='text/css'>
	<link href="/static/styles.css" rel="stylesheet" media="screen" type="text/css">
    <meta name="viewport" content="width=device-width" />  
	<!--[if lt IE 9]>
	<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-29571325-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
</head>

<body>
	<header>
		<div>
			<h1><a href="/">matthew owen</a></h1>
            <p>Makes useful things that you use on the internet</p>
			<nav>
				<ul>
					<li class="twitter"><a href="http://twitter.com/_mattowen">Twitter</a></li>
					<li class="github"><a href="https://github.com/matthewowen">GitHub</a></li>
                    <li class="email"><a href="mailto:matthew.owen95@gmail.com">Email</a></li>
					<li class="rss"><a href="/atom.xml">RSS</a></li>
				</ul>
			</nav>
		</div>
	</header>

	<section class="content">
			{{ content }}
	</section>
<script type="text/javascript">
    var disqus_shortname = 'matthewowen';
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
</script>
</body>
</html>