<!doctype html>
<head>
	<meta charset="utf-8">
	<title>{{ page.title }} | Matthew Owen</title>
	<meta name="author" content="Matthew Owen">
	<link href="/static/styles.css" rel="stylesheet" media="screen" type="text/css">
	<link href='http://fonts.googleapis.com/css?family=Cantarell' rel='stylesheet' type='text/css'>
</head>

<body>
	<header>
		<div>
			<h1><a href="/">matthew owen</a></h1>
			<nav>
				<ul>
					<li id="twitter"><a href="http://twitter.com/_mattowen">Twitter</a></li>
					<li id="github"><a href="https://github.com/matthewowen">GitHub</a></li>
					<li id="rss"><a href="/atom.xml">RSS</a></li>
				</ul>
			</nav>
		<div>
		<div class='clear'></div>
	</header>

	<section id="content">
			{{ content }}
		<aside>

			<section id="sidebar-projects">
				<h3>My Projects</h3>
				<ul>
					<li>
						<a title="Oxford bus times" href="http://www.oxbus.co.uk">
							<h4>OxBus</h4>
							<p>Live Oxfordshire bus times on your smartphone</p>
						</a>
					</li>
					<li>
						<a title="London bus times" href="http://londonb.us">
							<h4>londonb.us</h4>
							<p>Easily find out when your next London bus is, right from your smartphone</p>
						</a>
					</li>
				</ul>
			</section>

		</aside>

	</section>

	<footer>
		<div>
			<section id="about-me">
				<h3><a title="Matthew Owen" href="/about">About me</a></h3>
				<p>Tech enthusiast: interested in Python, mobile web, geolocation, and how web technologies can improve interactions with physical services.</p>
				<a title="Matthew Owen" href="/about">Read more...</a>
			</section>

			<section id="posts">
				<h3>Archive</h3>
				<ul>
					{% for post in site.posts limit:5 %}
					<li><time datetime="{{ post.date }}">{{ post.date | date_to_string }}:</time><a href="{{ post.url }}">{{ post.title }}</a></li>
					{% endfor %}
				</ul>
			</section>
		</div>
		<div class='clear'></div>
	</footer>
<script type="text/javascript">
    var disqus_shortname = 'matthewowen';
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
</script>
</body>
</html>